@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-mulish), system-ui, sans-serif;
  }
  h2 {
    @apply text-lg font-extrabold leading-normal;
  }
  h3 {
    @apply text-base font-extrabold leading-normal;
  }
  body {
    @apply text-base;
  }
}

mux-player {
  --media-object-fit: cover;
  --media-object-position: center;
  --media-audio-track-menu-button-display: block;
}

mux-player::part(video) {
  --media-webkit-text-track-transform: translateY(-120px) scale(0.98);
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
